/* 1rem - 16px */
html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.join-container {
  height: 100%;
  background-color: lightcoral;
  padding: 2rem;

  div {
    height: 100%;
  }

  &__first {
    background-color: lightgreen;
  }

  &__second {
    background-color: lightcyan;
  }
}

.input-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    text-align: center;
    margin-bottom: 4rem !important;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__element {
    margin: 1rem 0 !important;
  }
}

/* 
* {
  box-sizing: border-box;
}

.outerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1A1A1D;
}

.innerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
} */
