/* 1rem - 16px */
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.join-container {
  height: 100%;
  background-color: #f2f2f2;
  padding: 2rem;

  &__body {
    height: 100%;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &__first {
    background-color: #2e2f2f;
    padding: 2rem;
    position: relative;
    color: white;
    border: 2rem white solid;
  }

  &__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8a89c0;
  }
}

.input-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    text-align: center;
    margin-bottom: 4rem !important;
    font-family: "Roboto Slab", serif;

    &--styled {
      margin: 0 1rem;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      font-weight: bold;
      font-family: "Style Script", cursive;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__element {
    margin: 1.5rem 0 !important;
  }

  &__button {
    margin: 1rem 0 !important;
    text-align: center;

    .join-button {
      padding: 0 2rem;
    }
  }
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0;
}

.main-container {
  &__upper {
    font-size: 4rem;
    margin-right: 4rem;
    font-family: "Roboto Slab", serif;
  }

  &__lower {
    font-size: 10rem;
    font-family: "Style Script", cursive;
    letter-spacing: 1rem;
    font-weight: bolder;
    background: -webkit-linear-gradient(
      90deg,
      #00a8e0 0%,
      #f5c800 49%,
      #fc4f4f 80%,
      #fa788e 100%
    );
    background-image: linear-gradient(
      90deg,
      #00a8e0 0%,
      #f5c800 49%,
      #fc4f4f 80%,
      #fa788e 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* 
* {
  box-sizing: border-box;
}

.outerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1A1A1D;
}

.innerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
} */
